$clr-white: var(--clr-white);
$clr-black: var(--clr-black);
$clr-blue: var(--clr-blue);
$clr-red: var(--clr-red);
$clr-green: var(--clr-green);

// text-colors
$clr-white: #ffffff;
$clr-black: #000000;
$clr-blue: #0000ff;
$clr-red: #ff0000;
$clr-green: #00ff00;

// bg-colors
$bg-white: #ffffff;
$bg-black: #000000;
$bg-blue: #0000ff;
$bg-red: #ff0000;
$bg-green: #00ff00;