<div class="theme-container">
 <div class="theme-show-div">
  <i class="fa-solid fa-gear" [ngStyle]="{'color': selectedTheme.color}" (click)="showThemes = true"></i>
 </div>

 @if(showThemes){
 <div class="theme-changer-section">
  <div class="theme-changer-header">
   <p>Theme Changer</p>
   <i class="close-icon fa-regular fa-circle-xmark" (click)="showThemes = false"></i>
  </div>

  <div class="theme-list">
   @for (theme of allThemesList; track $index) {
   <div class="theme-option-circle" [ngStyle]="{'background': theme.color}" (click)="changeTheme(theme)"
    [class.selected]="theme.name === selectedTheme.name">
   </div>
   }
  </div>
 </div>
 }
</div>